*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: #fff;
  position: relative;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 48px;
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  position: absolute;
  width: 100px;
  height: 40px;
  left: 12px;
  top: calc(50% - 40px / 2);
}

.logo {
  width: 76px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  animation: rotatee 5s alternate ease-in-out 1s;
}

.btn-mobile-menu {
  position: absolute;
  padding: 8;
  width: 40px;
  height: 40px;
  right: 24px;
  top: calc(50% - 40px / 2);
  border-radius: 8px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.5s ease;
}

.btn-mobile-menu:hover {
  background-color: #6070ff;
  box-shadow: 0 8px 16px rgba(64, 83, 252, 0.24);
}

.btn-mobile-menu:hover path {
  fill: #fff;
}

.btn-mobile-menu:active {
  background-color: #2230d2;
}

.btn-mobile-menu:active path {
  fill: #fff;
}

.btn-mobile-menu:disabled {
  opacity: 0.3;
}

.btn-mobile-menu:disabled path {
  fill: #5e6c84;
}

.headline-section {
  width: 100%;
  min-height: 718px;
  position: relative;
  padding-top: 80px;
  overflow: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #f7f7f9;
}

.headline-section .container {
  width: 100%;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 114px 24px;
  gap: 12px;
  overflow: hidden;
}

.headline-section .section-mobile-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./img/header-background-mobile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headline-section .section-mobile-shape {
  position: absolute;
  width: 100%;
  height: 580px;
  left: 0;
  top: 104px;
  background-image: url('./img/header-shapes-mobile.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}

.main-greeting {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 12;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  overflow: hidden;
}

.main-message {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  gap: 14px;
  overflow: hidden;
}

.connect-message {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social-media-links {
  height: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.social-media-links a img {
  transition: transform 0.5s ease-in-out;
}


.social-media-links a img:hover {
  transform: scale(1.2);
}

.project .preview-image img:hover {
  transform: scale(1.05);
}

@media only screen and (min-width: 768px) {
  .btn-mobile-menu {
    display: none;
  }

  .navbar {
    display: block;
  }

  .navbar-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding: 0;
    position: absolute;
    height: 40px;
    top: calc(50% - 40px / 2);
    right: 10%;
  }

  .navbar-menu li a {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    padding: 10px 12px;
    color: #344563;
    transition: color 0.3s linear;
  }

  .navbar-menu li a:hover {
    color: rgb(96, 112, 255);
  }

  .headline-section {
    max-width: 100%;
    min-height: 800px;
    padding-top: 135px;
  }

  .headline-section .container {
    width: 66%;
  }

  .headline-section .section-mobile-bg {
    background-image: url('./img/header-background-desktop.png');
    background-position: top left;
    background-size: 100% 100%;
  }

  .headline-section .section-mobile-shape {
    background-image: url('./img/header-shapes-desktop.png');
    top: 50px;
    left: 10px;
    height: 722px;
    background-position: center center;
    background-size: 95%;
  }

  .main-greeting {
    width: 100%;
    font-size: 48px;
    line-height: 60px;
    color: #091e42;
    letter-spacing: 0.37px;
  }

  .main-message {
    width: 100%;
    font-size: 20px;
    line-height: 28px;
  }

  .connect-message {
    padding-top: 10px;
  }
}